*{
    margin: 0px;
    padding: 0px;
     
}

nav{
    background-color: #0077b6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
   /*( border: 1px solid white;*/
   
    width: 500px;
}
a{
    text-decoration: none;
    color: white;
}
li{
    padding: 14px 0px;
}

@media screen and (max-width:580px){

    nav{

        flex-direction: column;
    }

    ul{
        flex-direction: column;
        align-items: center;
    }
    
}

/* Navbar CSS end here */
section{
    width: 75vw;
    margin: 50px auto;
     
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;

}
figure{
    width: 300px;
    text-align: center;
    border: 1px solid black;
    margin: 15px;
    transition: 200ms;
    box-shadow: 0px 0px 2px rgb(104,104,104);
     
}
figure img{
    height: 200px;
    width: 100%;
     

}
h1{
    font-weight: 200 ;
}
h2{
    font-size: 1.3rem;
}
button{
    font-size: 20px;
    padding: 3px 8px;
    margin-bottom: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: background-color 300ms;
}
button:hover{
    background-color: grey;
    color: tomato;
}

figure:hover{
    transform: scale(1.03);
    cursor: pointer;
}